<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15333677650-mmfjo28mbkvbcvouq7nt5lcos8cd0u17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15333677650-mmfjo28mbkvbcvouq7nt5lcos8cd0u17</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>15333677650-bm7fitsfi1qimjpt5qp9pp13o66pnudu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFNsTv93JzEae7b_M9J8k_ZYDdbBg3piA</string>
	<key>GCM_SENDER_ID</key>
	<string>15333677650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabyatra.app</string>
	<key>PROJECT_ID</key>
	<string>fabyatra</string>
	<key>STORAGE_BUCKET</key>
	<string>fabyatra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15333677650:ios:c95d13ddea0dc4b7675d8b</string>
	<key>DATABASE_URL</key>
	<string>https://fabyatra-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>